<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Lista Książek</title>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>Tytuł książki</td>
            <td>Kategoria</td>
            <td>Status</td>
            <td>Akcje</td>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.bookId}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.category.name}"></td>
            <td th:text="${book.bookStatus.name}"></td>
            <td><a th:href="@{'/book/' + ${book.bookId}}">Zobacz więcej</a></td>
        </tr>
    </table>
</body>
</html>