<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Autor</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="nav :: nav">
</div>
<div class="content">

    <div id = "person_top_block">
        <div  id="person_info_block">

            <H1>Informacje o osobie</H1>
            <h3> Osoba: <p th:text="${person.firstName}" class="person_info_p"></p> <p th:text="${person.lastName}"  class="person_info_p"></h3>
            <h3>Pesel:  <p th:text="${person.pesel}" class="person_info_p"></p> </h3>
            <h3>Data urodzenia:  <p th:text="${person.dateOfBirth}" class="person_info_p"></p> </h3>
            <h3>Adress:</h3>
            <h3>Ulica:  <p th:text="${person.adress.street}" class="person_info_p"></p> <p th:text="${person.adress.houseNumber}" class="person_info_p"></p> </h3>
            <h3>Miasto:  <p th:text="${person.adress.city}" class="person_info_p"></p> (<p th:text="${person.adress.zipCode}" class="person_info_p"></p>) </h3>
        </div>
    </div>
    <div style="width: 50%;position: absolute;left: 49%;">
        <h2>Książki pożyczone</h2>
        <table class="table table-hover">
            <tr>
                <td>Id</td>
                <td>Tytuł książki</td>
                <td>Kategoria</td>
                <td>Data pożyczenia</td>
                <td>Akcja</td>
            </tr>
            <tr th:each="reserved : ${person.bookReserves}">
                <td th:text="${reserved.book.bookId}"></td>
                <td th:text="${reserved.book.bookInfo.title}"></td>
                <td th:text="${reserved.book.bookInfo.category.name}"></td>
                <td th:text="${reserved.creationDate}"></td>
                <td>
                    <a th:href="@{'/person/'+${person.personId}+'/given/book/' + ${reserved.book.bookId}}"><button type="button" class="btn btn-info">Oddaj</button></a>
                </td>
            </tr>
        </table>
    </div>
    <div style="position: absolute;width: 100%;top: 100%;">
        <div style="margin: 20px;">
            <form th:action="@{/person/1/reserve}" method="get">
                <input type="text" name="bookTitle" style="width: 80%;" />
                <input type="submit" value="Znajdź" style="width: 19%;">
            </form>
        </div>
        <div>
            <div>
                <table class="table table-hover">
                    <tr>
                        <td>Id</td>
                        <td>Tytuł książki</td>
                        <td>Kategoria</td>
                        <td>Status</td>
                        <td>Akcje</td>
                    </tr>
                    <tr th:each="book : ${books}">
                        <td th:text="${book.bookId}"></td>
                        <td th:text="${book.bookInfo.title}"></td>
                        <td th:text="${book.bookInfo.category.name}"></td>
                        <td th:text="${book.bookStatus.name}"></td>
                        <td>
                            <a th:href="@{'/person/'+${person.personId}+'/reserve/book/' + ${book.bookId}}"><button type="button" class="btn btn-info">Pożycz</button></a>
                        </td>
                    </tr>
                </table>
            </div>
    </div>
</div>


<style>
.content {
    margin: 2%;
}
#person_top_block {
  width: 100%;
  margin: 50px 50px;
  display: block;
  position: relative;
}

#person_info_block {
  position: absolute;
  top: 29px;
  display: inline-block;
  width: 69%;
}

#person_bottom_block {
  width: 100%;
  display: block;
  position: relative;
  text-align: justify;
  font-size: 19px;
}

.person_info_p {
  display: inline;
  font-weight: normal;
  margin: 0;
}
h3 {
    margin: 10px 0;
}
</style>
</body>
</html>